@use "../../foundation/variable/breakpoint.scss" as breakpoint;

.p-pagination {
  margin: 48px 0;
  @include breakpoint.mq-up(sm) {
    margin: 64px 0;
  }

  &__count {
    display: none; // Hide "Page 1 of 1" - computer debris
    margin-top: 24px;
    font-size: 1.2rem;
    color: var(--color-text-tertiary);
  }
}
