@use '../../foundation/variable/color.scss' as color;
@use '../../foundation/variable/font-family.scss' as fontFamily;

.p-title {
  margin: 0;
  font-family: fontFamily.$font-primary;
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.1;

  &__link {
    color: color.$color-text;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: color.$color-accent;
    }
  }
}
